{% extends "main.html" %}
{% block title %}Добавление модератора{% endblock %}
{% block content %}
    <div>
   <p><a href="{% url 'adminpanel' %}" class="link">Назад</a></p>
    </div>
    <div>
    <form action="" method="post">
        <input type="text" name="id" placeholder="id"></br>
        <input type="text" name="FIO" placeholder="ФИО модератора"></br>
        <input type="text" name="login" placeholder="Логин"></br>
        <input type="text" name="password" placeholder="Пароль"></br>
        <input type="submit" value="Добавить">
    </form>
    </div>
     <div>
    <table>
        <tr><td>id</td><td>ФИО</td><td>Уровень доступа</td></tr>
    {% for i in user %}
         <tr><td>{{i.id}}</td><td>{{i.FIO}}</td><td>{{ i.access_level }}</td></tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}