{% extends "main.html" %}
{% block title %}Добавление информации о ремонтных работах{% endblock %}
{% block content %}
    <div>
   <p><a href="{% url 'adminpanel' %}" class="link">Назад</a></p>
    </div>
    <div>
    <form action="" method="post">
        <input type="text" name="vehicle_id" placeholder="id транспортного средства"></br>
        <input type="text" name="id" placeholder="id"></br>
        <input type="text" name="FIO_mechanic" placeholder="ФИО мастера"></br>
        <input type="text" name="repair_date" placeholder="Дата ремонтных работ"></br>
        <input type="text" name="repairing_price" placeholder="Цена ремонта"></br>
        <input type="text" name="phone_number" placeholder="Номер телефона"></br>
        <input type="text" name="description" placeholder="Описание"></br>
        <input type="submit" value="Добавить">
    </form>
    </div>
{% endblock %}